:host {
    background-color: #314CB6;
    color: white;
}

:host > * {
    color: white;
}

#titlecardcomponent {
    text-align: center;
}

.title {
    font-size: 8rem;
    opacity: 0;
}

.subtitles {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.subtitles p {
    margin: 0;
    align-items: center; /* Aligns items vertically centered */
    font-size: 2.5rem;
    opacity: 0;
}

.subtitles i.material-icons {
    font-size: 24px; /* Adjust icon size */
    margin-right: 8px; /* Space between icon and text */
}

/* Mobile styles */
@media (max-width: 768px) {
    .title {
        font-size: 3rem;
        text-align: center;
    }

    .subtitles {
        gap: 18px;
    }

    .subtitles i.material-icons {
        font-size: 12px; /* Adjust icon size */
        margin-right: 2px; /* Space between icon and text */
    }

    .subtitles p {
        margin: 0;
        font-size: 1rem;
    }
}
