/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {overflow: -moz-scrollbars-none;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
