.card {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card p {
    margin: 0;
    align-items: center; /* Aligns items vertically centered */
    font-size: 2rem;
    line-height: 1;
    width: 40vw;
    max-width: 500px;
}

.card img {
    width: 40vw;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

/* Mobile styles */
@media (max-width: 768px) {
    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        width: 80vw;
        margin: auto;
    }
    
    .card p {
        align-items: center; /* Aligns items vertically centered */
        font-size: 1rem;
        line-height: 1;
        width: 100%;
    }
    
    .card img {
        width: 100%;
    }
}