.container {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
}

.container > * {
    scroll-snap-align: center;
    min-height: 100%;
    max-width: 100%;
    width: 100%; /* Ensure all children have the same width */
    display: grid;
    place-items: center;
    color: #000a;
    padding: 1em;
    box-sizing: border-box; /* Include padding in the element's width and height */
    flex-shrink: 0; /* Prevent the element from shrinking */
}
