:host {
    background-color: #A24936;
    color: white;
}

:host > * {
    color: white;
}

#hobbiescardcomponent {
    text-align: center;
}

.title {
    font-size: 8rem;
    text-align: center;
}

.container {
    width: 100%;
    margin-top: 5vh;
    justify-content: left;
    margin-bottom: 5vh;
}

.hobbyCards {
    display: flex;
    overflow: hidden; // Prevent horizontal scroll
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    height: 100%;
}

.hobbyCards i.material-icons {
    font-size: 24px; /* Adjust icon size */
    margin-right: 8px; /* Space between icon and text */
}

/* Mobile styles */
@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }

    .hobbyCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5vh;
    }

    .hobbyCards p {
        margin: 15px;
        font-size: 1rem;
    }

    .card {
        flex-direction: column;
    }

    .hobbyCards img, p {
        width: 80vw;
    }
}
