<mat-card appearance="outlined" #experiencecomponent>
    <mat-card-header>
        <mat-card-title>Experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>Company</mat-card-subtitle>
        <p>Open Systems international</p>
        <mat-card-subtitle>Job Title</mat-card-subtitle>
        <p>Software Engineer at Open Systems international</p>
        <mat-card-subtitle>Time Employed</mat-card-subtitle>
        <p>November 2022 – Current</p>
        <mat-card-subtitle>Duties performed</mat-card-subtitle>
        <mat-list role="list">
            <p class="experience-item" *ngFor="let jobOnePoint of jobOnePoints; let i = index">{{jobOnePoint}}</p>
        </mat-list>
    </mat-card-content>
</mat-card>